$sans-serif: 'PT Sans', sans-serif;
$sans-serif-2: 'Titillium Web', sans-serif;

$base-color: #333333;

$light-grey : #666666;
$search-bar-color: #DDDDDD;

$anchor-color: #219ab3;
$anchor-hover-color: #11505d;