$sans-serif: 'PT Sans', sans-serif;
$sans-serif-2: 'Titillium Web', sans-serif;

$main-color: #46433A;
$main-background-color: #DED4B9;

$base-color: #333333;

$red-color: #CE534D;
$light-grey : #666666;
$search-bar-color: #DDDDDD;

$anchor-color: #219ab3;
$anchor-hover-color: #11505d;