<div class="container">
  <div class="wrap">
    <a href="/"><h1 id="site-name">prettygist</h1></a>
    <div id="intro">
      <h2>Why?</h2>
      <p>blah blah blah ...</p>
      <form>
        <p>Search form field</p>
      </form>
    </div>
    <form id="run" action="." method="get">
        <p>
            <input id="username" type="text" placeholder="Enter your github username and click on generate" />
            <button type="submit" id="gen">Generate</button>
        </p>
    </form>
    <div id="intro-examples">
      <h2>Check out some examples</h2>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="wrap">
      <p><a href="/">prettygist</a></p>
      <p>Made by <b>Patrick</b></p>
      <p>Inspired by <a href="http://resume.github.io/">GitHub Résumé</a></p>
    </div>
  </div>
</footer>