<div class="container">
  <div class="wrap">
    <a href="/"><h1 id="site-name">prettygist</h1></a>
    <div id="intro">
      <h2>Why?</h2>
      <p>blah blah blah ...</p>
      <form id="run" action="." method="get">
        <input id="gist_id" type="text" placeholder="Search for a gist ID" />
        <button type="submit" id="submit">Go</button>
      </form>
    </div>
    <form id="run" action="." method="get">
        <p>
            <input id="username" type="text" placeholder="Enter your github username and click on generate" />
            <button type="submit" id="gen">Generate</button>
        </p>
    </form>
    <div id="intro-examples">
      <h2>Check out some examples</h2>
      <ul>
        <li><a href="/?3135754">3135754</a></li>
        <li><a href="/?6060661">6060661</a></li>
      </ul>
    </div>
  </div>
</div>

<footer>
<div class="wrap footer">
  <div class="footer-container">
    <span><a href="/">prettygist</a></span>
    <p>Made by <b>Patrick</b></p>
  </div>
</div>
</footer>

<script type="text/javascript">
$(document).ready(function(){
  $('form#run').submit(function(e){
    var gist_id = $('#gist_id').val();
    document.location = document.location.pathname + '?' + gist_id;
    e.preventDefault();
  });
});
</script>
