<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <div class="page-content-container">
        <div class="row">
          <div class="col-md-1 back-button">
            <a href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
          </div>
        </div>
        {{#owner}}
        <div class="row page-info">
          <div class="col-md-1 owner-info">
            <a href="{{owner_url}}">
              <img class="owner-img" src="{{owner_avatar}}" alt="{{owner}}">
              <span class="label label-primary">{{owner}}</span>
            </a>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-title">{{title}}</h1>
            <span class="label label-info">{{public_or_private}} Gist</span>
            <div class="date">{{date}}</div>
          </div>
        </div>
        {{/owner}}
        {{^owner}}
        <div class="row page-info">
          <div class="col-md-10">
            <h1 class="page-title">{{title}}</h1>
            <span class="label label-info">Anonymous Gist</span>
            <div class="date">{{date}}</div>
          </div>
        </div>
        {{/owner}}
        <div class="row page-content">
          <div class="col-md-9">
            {{{content}}}
          </div>
        </div>
        <div class="row page-footer">
          <div class="col-md-9 page-footer-text">
            <span><a href="/">prettyGist</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>